<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<h3><%= todo.title %></h3>
    <div class="form-group">
    <label>글쓴이</label> <%= todo.writer%>
    </div>
	<div class="form-group">
    <label>날짜 </label> <%= todo.date%>
    </div>
	<div class="form-group">
    <label>내용 </label><br/>
	<%= todo.task%>
    </div>
    <button type="submit" onclick="moveList()">목록으로</button>
	<script type="text/javascript">
		function moveList(){
			location.href="/list";
		}
	</script>
  </body>
</html>
