<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<h3>게시글 목록</h3>
    <div>
		<table>
			<tr>
				<th>제목</th>
				<th>글쓴이</th>
				<th>날짜</th>
			</tr>
            <% if(todo!=(null&&"")){ %>
				
               <%todo.forEach(function(todo){ %>
			   <tr>
                 <td> <a href="/detail?id=<%=todo._id%>"><%= todo.title %></a></td> 
				 <td> <%= todo.writer %> </td>
				 <td> <%=todo.date%>  </td>
			   </tr>
            <% }); %>
			
            <% } else { %>
             <tr> <td colspan="3"> <p>등록된 게시글이 없습니다</p> </td> </tr>
            <%}%>
        </label>
		</table>
    </div>
    <button type="submit" onclick="moveWrite()">글쓰기</button>
	<script type="text/javascript">
		function moveWrite(){
			location.href="/write";
			}
	</script>
  </body>
</html>
